<!DOCTYPE html>
<html>
    <head>
        <title>MONITOR_EYE运维管理平台</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="author" content="MONITOR_EYE运维管理系统">
        
        <!-- 包含bootstrap文件     -->
        {% include 'bootstrap.html' %}
        <!-- 包含css文件  -->
        {% include 'link_css.html' %}
        <!-- 包含jquery文件 -->
        {% include 'javascripts.html' %}
    </head>
    <body>


        <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">MONITOR_EYE运维管理系统</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">选项<b class="caret"></b></a></li>
                    </ul>
                </div>
            </div>
        </nav>  -->
    </body>
</html>
