<!-- jquery -->
<script type="text/javascript" src="/static/js/source/jquery-1.10.3.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>

<!-- jquery fancybox -->
<script type="text/javascript" src="/static/js/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/static/js/source/jquery.fancybox.css?v=2.1.5" media="screen" />

<!-- jquery metisMenu -->
<script type="text/javascript" src="/static/js/plugins/metisMenu/jquery.metisMenu.js"></script>

<!-- jquery slimscroll -->
<script type="text/javascript" src="/static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/slimscroll/jquery.slimscroll.js"></script>

<!-- summernote -->
<script type="text/javascript" src="/static/js/plugins/summernote/summernote.min.js"></script>

<!-- Peity -->
<script type="text/javascript" src="/static/js/plugins/peity/jquery.peity.min.js"></script>

<!-- colorbox -->
<script type="text/javascript" src="/static/js/jquery.colorbox.js"></script>

<!-- layer -->
<script type="text/javascript" src="/static/layer/layer.min.js"></script>